@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


/* Colors */

/*
60% of #7535CA - Primary
30% of #C035CA - Secondary
10% of #353FCA - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #7535CA;

/* var(--secondaryColor) !important; */
--secondaryColor: #C035CA;

/* var(--accentColor) !important; */
--accentColor: #353FCA;

/* var(--fontFamily) !important; */
--fontFamily: "Crimson Text", serif;

}