<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <!-- Column 1 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Guild Hall</h3>
          <ul>
            <li><a href="contact.html">Send a Raven</a></li>
            <li><a href="support.html">Adventurer Support</a></li>
            <li><a href="faq.html">Common Questions</a></li>
            <li><a href="team.html">Meet the Scribes</a></li>
          </ul>
        </div>

        <!-- Column 2 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Charters & Policies</h3>
          <ul>
            <li><a href="terms.html">Adventurer’s Code</a></li>
            <li><a href="privacy.html">Privacy Scroll</a></li>
            <li><a href="content-policy.html">Lore & Content Policy</a></li>
            <li><a href="accessibility.html">Accessibility Oath</a></li>
          </ul>
        </div>

        <!-- Column 3 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Market Stall</h3>
          <ul>
            <li><a href="merch.html">Merchandise</a></li>
            <li><a href="digital-assets.html">Digital Spellbooks</a></li>
            <li><a href="commissions.html">Commissioned Artifacts</a></li>
            <li><a href="donate.html">Support the Realm</a></li>
          </ul>
        </div>

        <!-- Column 4 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Adventuring Resources</h3>
          <ul>
            <li><a href="maps.html">Maps & Cartography</a></li>
            <li><a href="one-shots.html">One-Shot Adventures</a></li>
            <li><a href="tools.html">DM Tools</a></li>
            <li><a href="downloads.html">Downloads & Handouts</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Row -->
</footer>
